<div id="header" class="container mt-3">
    <h1 class="text-center">Buscar Publicaciones</h1>
  
    <form #form="ngForm" (ngSubmit)="buscarUsuario()" class="form-inline justify-content-center">
      <label for="usuario" class="mr-2">Nombre del Usuario</label>
      <input type="text" class="form-control mr-2" name="usuario" [(ngModel)]="txtUser" >
      <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
  </div>
  
  <div id="body" class="mt-4">
    <app-usuarios [usuario]="usuario"></app-usuarios>
    <app-publicaciones [publicaciones]="publicaciones"></app-publicaciones>
  </div>
  