<div id="posts" *ngFor="let publicacion of publicaciones">
  <div *ngIf="publicaciones && publicaciones.length > 0; else noPosts">
    <div class="card mb-3"></div>
      <div class="card-body">
        <h4 class="card-title size25">Titulo: {{ publicacion.title }}</h4>
        <p class="card-text">{{ publicacion.body }}</p>
        
        <!-- Mostrar cantidad de reacciones -->
        <div id="likes" *ngIf="publicacion.reactions">
          <p><span class="reactions-icon">❤️</span> {{ publicacion.reactions.likes }}</p>
          <p><span class="reactions-icon">🖤</span> {{ publicacion.reactions.dislikes }}</p>
        </div>
  
        <!-- Botón para mostrar/ocultar comentarios -->
        <button class="btn btn-secondary" (click)="toggleComentarios(publicacion)">
          {{ publicacion.mostrarComentarios ? 'Ocultar comentarios' : 'Ver comentarios' }}
        </button>
      </div>
  
      <!-- Comentarios de la Publicación -->
      <div id="coments" class="card-footer" *ngIf="publicacion.mostrarComentarios">
        <h5 class="size25" >Comentarios</h5>
        <div *ngIf="publicacion.comentarios && publicacion.comentarios.length > 0; else noComentarios">
          <app-comentarios [comentarios]="publicacion.comentarios" ></app-comentarios>
        </div>
        <ng-template #noComentarios>
          <p class="italic">No hay comentarios para esta publicación.</p>
        </ng-template>
      </div>
    </div>

    <ng-template #noPosts>
      <p class="italic">No hay publicaciónes de este usuario.</p>
    </ng-template>
  </div>